[Desktop Entry]
Version=1.0
Type=Application
Name=Auto-Radio Tuyú
Comment=Automatizador Radio Linux — Radio Tuyú Gral. Madariaga
Exec=/home/santiago/RadioLinuxMadariaga/iniciar.sh
Icon=/home/santiago/RadioLinuxMadariaga/assets/icono.png
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupNotify=true
