[Desktop Entry]
Version=1.0
Type=Application
Name=Automatización Radial (Dinesat Clon)
Comment=Automatización radial estilo Dinesat 9 para Linux
Exec=/home/santiago/RadioLinuxMadariaga/iniciar.sh
Icon=/home/santiago/RadioLinuxMadariaga/assets/icono.png
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupNotify=true
